---
title: ZET Evacuation Tool
base: ../
lang: en
---
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div>
        <h1 style="float:left">ZET Evacuation Tool</h1>
        <img src="{{ base }}image/logo-complete.png" style="float:right" width="30%"/>
        <div style="clear: both;padding-bottom:40px"></div>
      </div>

      <p>The ZET softwaretools, which is licensed under the <a href="#">GPL</a>. allows to model evacuation scenarios and simulate and optimze them. Within ZET multi-storey buildings can be designed and residents can be placed and emergency exits can be assigned to them.</p>

  <p>An earliest arrival flow is then computed to route the residents to the best exits. Since the flow computation has to make certain idealistic assumptions, the included simulation can then be used to test the computed evacuation paths. A wide selection of statistics and an advanced visualizer help to analyze the data.</p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
  </div>
  </div>

  <div class="jumbotron" style="background-color:#006795">
    <div class="container" style="color:#fff">
  <h2 style="color:#fff;">Editor</h2>
  <div class="row">
      <div class="col-md-8">
        <p> ZET has an integrated editor that can be used to design the evacuation scenarios. With this editor it is possible to create various floors, rooms on the floors and specialized areas within the rooms that have additional semantics. All rooms and areas can be arbitrary closed polygons.</p>
      </div>
      <div class="col-md-4">
    <img width="100%" src="{{ base }}image/content/eng/introduction_hauptbildschirm.png"/>
      </div>
</div>
<div class="row top-buffer">
      <div class="col-md-8">
        <p> The evacuees can be automatically set in so called "assignment areas". The residents can be divided into groups that have different properties. The properties and groups can be edited in the assignment editor, the adjustment of the properties is done by several property distributions.</p>
      </div>
      <div class="col-md-4">
    <img width="100%" src="{{ base }}image/content/eng/introduction_belegungseditor.png"/>
      </div>
</div>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>


  <div class="jumbotron">
    <div class="container">
  <div class="col-md-12">
    <h2>Visualisierung</h2>
        <p> Both, the simulaton on a cellular automaton and the calculated network flow can be visualized in 3d using OpenGL. The position of the camera inside the visualization is completely controllable using the normal mouse and keyboard controls. Within the visualization various information can be accessed, such as for example the utilization of areas.
The visualization can be viewed in perspective view, isometric view and orthogonal projection.</p>
  </div>
  
      <div class="col-md-4">
    <img width="100%" src="{{ base }}image/content/introduction_visualization_isom.png"/>
      </div>
      <div class="col-md-4">
    <img width="100%" src="{{ base }}image/content/introduction_visualization_orthogonal.png"/>
      </div>
      <div class="col-md-4">
    <img width="100%" src="{{ base }}image/content/introduction_visualization_perspective.png"/>
      </div>

  </div>
  </div>

  <div class="jumbotron highlight">
    <div class="container" style="color:#fff">
  <h2 style="color:#fff;">Get it!</h2>
  
  <p><a href="http://www.coga.tu-berlin.de/fileadmin/i26/download/AG_DiskAlg/FG_KombOptGraphAlg/kappmeier/ZET_PG_Current/zet-1.0.3a-update.rar"><span class="fa fa-download"></span> <span>ZET 1.0.3a</span> Suite für Java 6</a>. <span class="small">(md5: 73e7515d14a42ee9257ea6f8444d7be7)</span></p>
  
  <p>Other versions, signatures and the source code are available in the <a href="downloads.html">Downloads</a> section.</p>
   <!--<p>ZET ist in Java geschrieben und Die aktuelle Version 1.0.3 von ZET kann hier, zusammen mit Signaturdateien, heruntergeladen werden, ZET wird als kompiliertes Java(TM)-Paket verteilt und benötigt mindestens Java 6.0. Der Quellcode von ZET ist auf sourceforge verfügbar. Auf die aktuellste Version des Quellcodes kann direkt über das SVN-Repository zugegriffen werden.</p>

<p>Die Download-Datei wurde mit dem öffentlichen Schlüssel (ASC, 2,5 KB) von ZET signiert.</p>

<p>Die aktuelle Version des ZET-Pakets ist vom 06. 01. 2010. Der Download enthält das Programm inklusive einiger Beispieldateien.</p>-->
  
    </div>
  </div>
